/*==================================
            FOOTER
==================================*/

.footer {

    background: #081B38;

    color: #fff;

    padding-top: 60px;

}

.footer__wrapper {

    display: grid;

    grid-template-columns: 2fr 1fr 1fr;

    gap: 60px;

    padding-bottom: 45px;

}

.footer-brand {

    max-width: 320px;

}

.footer-logo {

    width: 110px;

    border-radius: 12px;

    margin-bottom: 20px;

}

.footer-desc {

    color: rgba(255, 255, 255, .75);

    line-height: 1.8;

    font-size: 15px;

}

.footer-col h4 {

    font-size: 20px;

    margin-bottom: 22px;

    position: relative;

}

.footer-col h4::after {

    content: "";

    width: 42px;

    height: 3px;

    background: #ef4444;

    position: absolute;

    left: 0;

    bottom: -10px;

    border-radius: 10px;

}

.footer-col p {

    color: rgba(255, 255, 255, .6);

    margin-bottom: 6px;

}

.footer-col a {

    color: #fff;

    transition: .3s;

}

.footer-col a:hover {

    color: #ef4444;

}

/* Social */

.social {

    display: flex;

    gap: 14px;

}

.social a {

    width: 44px;

    height: 44px;

    border-radius: 50%;

    background: rgba(255, 255, 255, .08);

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 18px;

    transition: .35s;

}

.social a:hover {

    transform: translateY(-4px);

}

.social a:nth-child(1):hover {

    background: #1877F2;

}

.social a:nth-child(2):hover {

    background: #000;

}

.social a:nth-child(3):hover {

    background: #FF0000;

}

.social a:nth-child(4):hover {

    background: #EA4335;

}

/* Bottom */

.footer-bottom {

    border-top: 1px solid rgba(255, 255, 255, .08);

    padding: 22px 0;

    text-align: center;

}

.footer-bottom p {

    color: rgba(255, 255, 255, .65);

    font-size: 14px;

}

/* Tablet */

@media(max-width:992px) {

    .footer__wrapper {

        grid-template-columns: 1fr 1fr;

        gap: 40px;

    }

    .footer-brand {

        grid-column: 1 / -1;

        max-width: 100%;

    }

}

/* Mobile */

@media(max-width:768px) {

    .footer {

        text-align: center;

        padding-top: 45px;

    }

    .footer__wrapper {

        grid-template-columns: 1fr;

        gap: 35px;

    }

    .footer-brand {

        margin: auto;

    }

    .footer-logo {

        margin: 0 auto 20px;

    }

    .footer-col h4::after {

        left: 50%;

        transform: translateX(-50%);

    }

    .social {

        justify-content: center;

    }

}